.advantages-form {
  border: none;
}

.advantages-form__list {
  list-style: none;
}

.advantages-form__title {
  font-weight: bold;
  text-transform: uppercase;
}

.advantages-form__description {
  font-weight: bold;
  text-transform: none;
}
