.button {
  border: none;
  height: 58px;
  color: @white;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: @basic-blue;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
