.contacts-review {
  border: none;
  text-align: center;
  margin: 0;
  padding: 0;

  // color: tomato;

  // outline: 5px solid rgba(0, 30, 255, 0.981);
  // outline-offset: -5px;

  @media (min-width: @tablet-width) {
    margin-top: 25px;
  }
}

.contacts-review__title {
  font-weight: bold;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-bottom: 23px;
  }
}

.contacts-review__list {
  list-style: none;
  padding: 0;
  text-align: center;

  // outline: 5px solid rgba(255, 0, 162, 0.981);
  // outline-offset: -5px;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;

    // display: grid;
    // grid-template-columns: 1fr 1fr;

    margin-bottom: 51.5px;
  }
}


.contacts-review__description {
  font-size: 14px;
  color: @brown;

  text-transform: uppercase;

  display: flex;
  // text-align: left;
  padding-left: 22px;
  // margin-left: 42px;
  // width: 100%;
}

.contacts-review__field {
  font-size: 16px;
  font-weight: bold;
  background-color: @grey-form;
  border: none;
  padding: 18px 0 14px 22px;
  margin-top: 12px;


  // outline: 5px solid rgba(0, 60, 255, 0.981);
  // outline-offset: -5px;

  width: 100%;

  &::placeholder {
    color: @black;
  }

  @media (min-width: @tablet-width) {

    width: calc(100% - 22px);
  }
}

.contacts-review__item {
  // clear:both;
  // text-align:right;
  margin-left: 20px;
  margin-right: 20px;

  // outline: 5px solid rgba(0, 255, 85, 0.981);
  // outline-offset: -5px;

  // padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    text-align: left;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.contacts-review__item:nth-child(1) {
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    margin-top: 54px;
    margin-left: 34px;
    padding: 0;

    .contacts-review__description {
      width: 70px;
      // margin-left: 119px;

      // outline: 5px solid rgba(0, 255, 115, 0.44);
      // outline-offset: -5px;
    }

    .contacts-review__description--hidden {
      display: none;
    }

    .contacts-review__field {
      width: 257px;
      margin-left: 16px;
      margin-top: 0;
    }
  }
}

.contacts-review__item:nth-child(2) {
  margin-bottom: 49px;


  @media (min-width: @tablet-width) {
    .contacts-review__field {
      margin-top: 10px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    margin-top: 54px;
    margin-left: 0;

    .contacts-review__description {
      margin-left: -7px;
      width: 147px;
      padding: 0;


      // outline: 5px solid rgba(0, 255, 115, 0.44);
      // outline-offset: -5px;
    }

    .contacts-review__field {
      width: 258px;
      margin-top: 0;
      margin-left: 18px;
    }
  }
}
