.copyright {
  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.copyright__link {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: @black;

  width: 160px;

  @media (min-width: @tablet-width) {
    margin-top: 25px;
  }
}


.copyright__text {

  font-size: 14px;
  line-height: 26px;

  margin-top: 5px;

  @media (min-width: @tablet-width) {
    margin-top: 1px;
    padding: 0;
    margin-left: 7px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 31px;
    margin-top: 5px;
  }
}

.copyright__icon {
  margin-left: 10px;
  background-color: @white;
  margin-top: 2px;

  text-align: center;
  fill: @black;

  @media (min-width: @tablet-width) {
    margin-left: 15px;
    margin-top: 0;
  }

  &:hover,
  &:focus {
    fill: @basic-blue;
  }

  &:active {
    opacity: 0.3;
    fill: @black;
  }
}
