.full-name {
  border: none;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;

  // color: tomato;

  @media (min-width: @tablet-width) {
    margin-top: 24px;
    padding-top: 35px;
    padding-left: 57px;
    padding-right: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 79px;
    padding-right: 120px;
    margin-top: 0;
  }
}

.full-name__title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    text-align: left;
  }
}

.full-name__list {
  list-style: none;
  text-align: center;
  padding: 0;

  // outline: 5px solid rgba(0, 60, 255, 0.981);
  // outline-offset: -5px;
}

.full-name__item {
  // outline: 5px solid rgba(46, 19, 1, 0.981);
  // outline-offset: -5px;

  display: flex;

  .full-name__description {
    text-align: left;
  }

  .full-name__field {
    width: 100%;
  }
}


.full-name__item:nth-child(1) {
  margin-bottom: 20px;

  .full-name__description {
    width: 64px;
  }

  .full-name__field {
    margin-left: 0;
  }
}

.full-name__item:nth-child(2) {
  margin-bottom: 20px;

  .full-name__description {
    width: 88px;
  }
}

.full-name__item:nth-child(3) {
  margin-bottom: 46px;

  .full-name__description {
    width: 86px;
  }
}

.full-name__description {
  color: @brown;
  // color: tomato;
  font-size: 14px;
  text-transform: uppercase;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 13px;

  // outline: 5px solid rgba(0, 255, 123, 0.981);
  // outline-offset: -5px;
}

.full-name__field {
  // font-size: 18px;
  font-size: 16px;
  font-weight: bold;
  background-color: @grey-form;
  // background-color: pink;
  border: none;
  margin-left: 12px;

  // outline: 5px solid rgba(0, 208, 255, 0.981);
  // outline-offset: -5px;

  padding: 18px 0 14px 22px;

  @media (min-width: @tablet-width) {
    margin-left: 15px;
  }


  &::placeholder {
    color: @black;

    // color: tomato;
  }

  &:hover,
  &:focus {
    background-color: @grey-dark-full-name;
  }

  &:active {
    background-color: @white;
    border: 4px solid @grey-dark-full-name;
  }
}
