.full-name__title {
  font-weight: bold;
  text-transform: uppercase;
}

.full-name__list {
  list-style: none;
}

.full-name__description {
  color: @brown;
  font-size: 14px;
  text-transform: uppercase;
}

.full-name__field {
  color: @black;
  font-weight: bold;
  background-color: @grey-form;
  border: none;
}

.full-name__field:hover,
.full-name__field:focus {
  background-color: @grey-dark-full-name;
}

.full-name__field:active {
  background-color: @white;
  border: 4px solid @grey-dark-full-name;
}
