.gallery__list {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 100%;

  // outline: 5px solid rgba(255, 68, 0, 0.981);
  // outline-offset: -5px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    // height: 100%;
    // align-items: stretch;
    // flex-basis: auto;
  }
}

.gallery__item {
  // outline: 5px solid rgba(68, 0, 255, 0.981);
  // outline-offset: -5px;

  @media (min-width: @tablet-width) {
    margin: 0;
    // height: 100%;
    // flex-basis: auto;

    // .foto__description {
    //   height: 100%;
    //   display: flex;
    //   flex-basis: auto;
    // }
  }
}

.gallery__foto {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    // outline: 3px solid rgba(68, 0, 255, 0.981);
    // outline-offset: -3px;
  }
}

.gallery__item:nth-child(1) {
  // outline: 3px solid rgba(68, 0, 255, 0.981);
  // outline-offset: -3px;
  @media (min-width: @tablet-width) {
    width: 100%;


    .gallery__foto {
      margin-left: 60px;
      margin-right: 60px;
    }

    .foto__image {
      height: 400px;
    }

    // .foto__description {
    //   height: 100%;
    // }

    .foto__title {
      grid-column-end: 20;
    }

    .foto__autor-text {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 4;
    }

    .foto__autor-name {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 4;
      grid-column-end: 20;
      margin-left: -3px;
    }

    .foto__like {
      margin-top: 17px;
      grid-column-start: -1;
      grid-column-end: -5;
    }
  }


  @media (min-width: @desktop-width) {
    .gallery__foto {
      margin: 0;
    }

    .foto__image {
      margin-top: 19px;
    }

    .foto__title {
      grid-column-end: 25;
    }

    .foto__autor-text {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .foto__autor-name {
      grid-column-start: 3;
      grid-column-end: 20;
      margin-left: -22px;
    }

    .foto__like {
      padding-top: 0;
      grid-column-end: -3;
    }
  }
}


.gallery__item:nth-child(2) {
  // outline: 3px solid rgba(72, 255, 0, 0.981);
  // outline-offset: -3px;
  margin-top: 38px;
  // .foto__image {
  //   margin-top: 20px;
  // }

  @media (min-width: @tablet-width) {
    width: 50%;
    margin: 0;
    // align-self: stretch;

    .gallery__foto {
      margin-left: 60px;
    }

    .foto__image {
      height: 267px;
    }

    // .foto__autor-name {
    //   margin-left: -25px;
    // }

    .foto__like {
      // margin-top: -22px;
      margin-right: 30px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 33.33%;

    .gallery__foto {
      margin: 0;
    }

    // .foto__autor-name {
    //   margin-left: -14px;
    // }
  }
}

.gallery__item:nth-child(3) {
  // outline: 3px solid rgba(0, 195, 255, 0.981);
  // outline-offset: -3px;
  margin-top: 38px;

  @media (min-width: @tablet-width) {
    width: 50%;
    margin: 0;
    // align-self: stretch;

    .gallery__foto {
      margin-right: 60px;
    }

    .foto__image {
      height: 267px;
    }

    .foto__description {
      background-color: @grey-catalog;
      flex-basis: auto;
      // height: 100%;
      // align-items: flex-start;
    }

    // .foto__autor-name {
    //   margin-left: -21px;
    // }

    .foto__like {
      // margin-top: -22px;
      margin-right: 36px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 33.33%;

    .gallery__foto {
      margin: 0;
    }

    .foto__description {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

.gallery__item:nth-child(4) {
  margin-top: 38px;

  @media (min-width: @tablet-width) {
    width: 50%;
    margin: 0;

    .gallery__foto {
      margin-left: 60px;
    }

    .foto__image {
      height: 267px;
    }

    // .foto__autor-name {
    //   margin-left: -25px;
    // }

    .foto__like {
      // margin-top: -22px;
      margin-right: 29px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 33.33%;

    .gallery__foto {
      margin: 0;
    }

    // .foto__autor-name {
    //   margin-left: -12px;
    // }
  }
}

.foto__image {
  width: 100%;
  display: block;
}

.foto__description {

  margin-top: 11px;
  text-align: left;

  font-size: 14px;
  line-height: 24px;

  height: 100%;

  // outline: 3px solid rgba(255, 102, 0, 0.981);
  // outline-offset: -3px;

  @media (min-width: @tablet-width) {
    background-color: @grey-form;

    // background-color: pink;

    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: minmax(21px, auto);

    margin-top: 0;
    // height: 100%;
    // height: 80px;


    padding-left: 20px;
    padding-bottom: 16px;
  }

  @media (min-width: @desktop-width) {
    background: rgba(0, 0, 0, 0.3);
    margin-top: -82px;
    color: @white;

    grid-template-columns: repeat(24, 1fr);
  }
}

.foto__title {
  font-weight: bold;

  // outline: 5px solid rgba(201, 7, 178, 0.576);
  // outline-offset: -5px;

  @media (min-width: @tablet-width) {
    padding-top: 16px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 16;
    // padding-left: 20px;

    // &::after {
    //   content: "";
    //   // flex-basis: 50%;
    //   width: 50%;
    // }
  }

  @media (min-width: @desktop-width) {
    width: 209px;
  }
}

.foto__autor-text,
.foto__autor-name {
  text-transform: none;
  // font-weight: normal;
  color: @brown;


  @media (min-width: @desktop-width) {
    color: @white;
  }
}

.foto__autor-text {
  // outline: 5px solid rgba(1, 26, 1, 0.981);
  // outline-offset: -5px;

  @media (min-width: @tablet-width) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 7;
    // padding-left: 20px;


    // order: 3;
    // padding-left: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 6;
  }
}

.foto__autor-name {
  // outline: 5px solid rgba(255, 174, 0, 0.981);
  // outline-offset: -5px;

  @media (min-width: @tablet-width) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 7;
    grid-column-end: 18;
    // margin-left: -29px;
    // width: 35%;
    // order: 4;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 6;
    grid-column-end: 18;
    margin-left: -2px;
  }
}

.foto__like {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;

  margin: 0;
  margin-top: 10px;
  margin-left: 10px;

  // outline: 5px solid rgba(4, 0, 255, 0.981);
  // outline-offset: -5px;

  @media (min-width: @tablet-width) {
    margin: 0;
    // order: 2;
    // width: 50%;
    margin-top: 17px;
    margin-right: 20px;

    text-align: right;

    align-self: center;


    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: -1;
    grid-column-end: -8;
  }
}
