.getting-intro-form {
  position: relative;
}


.getting-intro-form__text {
  padding: 39px 0 37px 0;

  @media (min-width: @tablet-width) {
    padding: 65px 167px 61.5px 166px;
  }

  @media (min-width: @desktop-width) {
    padding: 114px 380px 56.5px 380px;
    background-color: @white;
  }
}

.getting-intro-form__title {
  font-weight: bold;
  font-size: 18px;

  padding-right: 15px;
  padding-left: 14px;

  text-transform: uppercase;

  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.getting-intro-form__intro {
  color: @brown;

  font-size: 14px;
  line-height: 24px;

  margin: 0;

  text-transform: uppercase;

  padding: 29px 10px 0 10px;


  @media (min-width: @tablet-width) {
    padding: 30px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 32px;
  }
}
