.getting-intro {
  position: relative;
  margin-bottom: 27px;


  // outline: 5px solid rgba(255, 81, 0, 0.981);
  // outline-offset: -5px;
  // height: 389px;
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.getting-intro__wrapper-image {
  position: relative;
  outline: 5px solid rgba(68, 0, 255, 0.981);
  outline-offset: -5px;

  background: url("../../img/back-mobile.jpg") center no-repeat;
  // background-size: 389px 100%;
  background-size: 100%;

  z-index: -1;
  height: 389px;

  // @media (min-width: 321px) {

  //   background: url("../../img/background-foto-tablet.jpg") center no-repeat;
  //   background-size: 100%;
  // }

  // &::before {
  //   position: absolute;
  //   right: auto;
  //   left: auto;
  //   top: 102px;
  //   width: 203px;
  //   height: 203px;
  //   background-color: red;
  //   content: "";
  // }


  @media (min-width: @tablet-width) {
    height: 518px;
    background: url("../../img/back-tablet.jpg") center no-repeat;
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-tablet@2x.jpg");
      // background-size: 100%;
    }
  }

  @media (min-width: @desktop-width) {
    background: url("../../img/back-desktop.jpg") center no-repeat;
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-desktop@2x.jpg");
      // background-size: 100%;
    }
  }
}

.getting-intro__wrapper-image::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 57px;
  background: url("../../img/intro-triangle-mobile.svg") center no-repeat;
  background-size: 100% 57px;

  // @media (min-width: @tablet-width) {
  //   background: url("../../img/intro-triangle-tablet") center no-repeat;
  //   background-size: 100%;
  // }

  // @media (min-width: @desktop-width) {
  //   background: url("../../img/intro-triangle-desktop") center no-repeat;
  //   background-size: 100%;
  // }
}

.getting-intro__image {
  // outline: 5px solid rgba(0, 255, 145, 0.981);
  // outline-offset: -5px;

  width: auto;
  height: 214px;

  top: 90px;
  position: relative;

  @media (min-width: @tablet-width) {
    top: 77px;
    width: 461px;
    height: 349.97px;
    bottom: 91.03px;
  }
}

.getting-intro__text {
  padding: 34px 18px 0 17px;
  background-color: @white;

  // outline: 5px solid rgba(0, 255, 145, 0.981);
  // outline-offset: -5px;

  @media (min-width: @tablet-width) {
    padding: 43.5px 124px 52.5px 124px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 52px;
    padding-bottom: 40px;
  }
}

.getting-intro__slogan {
  font-weight: bold;
  font-size: 18px;
  padding-right: 15px;
  padding-left: 14px;
  margin-top: 0;


  @media (min-width: @tablet-width) {
    font-size: 21px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 250px;
    padding-left: 250px;
  }
}

.getting-intro__intro {
  color: @brown;
  // color: tomato;
  font-size: 14px;
  margin: 0;
  padding-top: 15px;

  @media (min-width: @tablet-width) {
    padding-top: 13px;
  }
}
