.getting-intro-form {
  position: relative;
}

.getting-intro-form__wrapper-image {
  position: relative;
  outline: 5px solid rgba(68, 0, 255, 0.981);
  outline-offset: -5px;

  background: url("../../img/background-foto-form-mobile.jpg") center no-repeat;
  background-size: 100%;


  z-index: -1;
  height: 158px;


  // ::before {
  //   content: "";
  //   position: absolute;
  //   z-index: 18;
  //   left: 0;
  //   bottom: 0;
  //   width: 100%;
  //   height: 57px;
  //   background: url("../../img/triangle.svg") center no-repeat;
  //   background-size: 100%;
  // }

  @media (min-width: @tablet-width) {

    background: url("../../img/background-foto-form-tablet.jpg") center no-repeat;

    height: 290px;
  }

  @media (min-width: @desktop-width) {
    height: 300px;
    //   background: url("../../img/background-foto-desktop.jpg") center no-repeat;
    //   background-size: 100%;
  }
}

.getting-intro-form__image {
  // outline: 5px solid rgba(0, 255, 0, 0.981);
  // outline-offset: -5px;

  top: 52px;
  position: relative;

  // @media (min-width: @tablet-width) {
  //   top: 77px;
  //   width: 461px;
  //   height: 349.97px;
  //   bottom: 91.03px;
  // }
}

.getting-intro-form__text {
  padding: 39px 0 37px 0;

  // outline: 5px solid rgba(0, 255, 145, 0.981);
  // outline-offset: -5px;

  @media (min-width: @tablet-width) {
    padding: 65px 167px 61.5px 166px;
  }

  @media (min-width: @desktop-width) {
    padding: 114px 380px 56.5px 380px;
  }
}

.getting-intro-form__title {
  font-weight: bold;
  font-size: 18px;

  padding-right: 15px;
  padding-left: 14px;

  text-transform: uppercase;

  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }

  // @media (min-width: @desktop-width) {
  //   padding-right: 250px;
  //   padding-left: 250px;
  // }
}

.getting-intro-form__intro {
  color: @brown;
  // color: tomato;

  font-size: 14px;
  line-height: 24px;

  margin: 0;

  text-transform: uppercase;

  padding: 29px 10px 0 10px;


  @media (min-width: @tablet-width) {
    padding: 30px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 32px;
  }
  // margin: 0;
}
