.impression {
  border: none;
}

.impression__list {
  list-style: none;
}

.impression__title {
  font-weight: bold;
  text-transform: uppercase;
}

.impression__description {
  font-weight: bold;
  text-transform: none;
}
