.main-nav {
  // outline: 5px solid rgba(255, 47, 0, 0.8);
  // outline-offset: -5px;

  height: 223px;
  display: block;

  @media (min-width: @tablet-width) {
    height: 56px;
  }
}

.main-nav__wrapper {
  display: block;
  position: relative;

  // @media (min-width: @tablet-width) {

  // }

  // @media (min-width: @desktop-width) {
  //   width: 100%;
  // }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  // outline: 5px solid rgba(242, 255, 0, 0.981);
  // outline-offset: -5px;

  height: 100%;


  @media (min-width: @tablet-width) {

    margin-top: -25px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    .main-nav__item:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
    }

    .main-nav__item:nth-child(2) {
      grid-column: 2;
      grid-row: 1;
    }

    .main-nav__item:nth-child(3) {
      grid-column: 4;
      grid-row: 1;
    }

    .main-nav__item:nth-child(4) {
      grid-column: 5;
      grid-row: 1;
    }
  }
}


.main-nav__item {
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;

  // outline: 5px solid rgba(13, 255, 0, 0.8);
  // outline-offset: -5px;

  width: 100%;
  height: 55px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 26px;

    // width: 153px;
    height: 56px;
  }
}

.main-nav__item:nth-child(1) {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);

  @media (min-width: @tablet-width) {
    box-shadow: none;
  }
}

// .main-nav__item:nth-child(3) {
//   display: none;

//   @media (min-width: @tablet-width) {
//     display: inline;
//     position: relative;
//     z-index: 1;
//   }

//   @media (min-width: @desktop-width) {
//     display: inline;
//   }
// }

.main-nav__item:nth-child(2),
.main-nav__item:nth-child(3) {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @media (min-width: @tablet-width) {
    box-shadow: none;
  }
}

.main-nav__item:nth-child(3) {
  @media (min-width: @tablet-width) {
    padding-left: 3px;
  }
}


.main-nav__item:nth-child(4) {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);

  @media (min-width: @tablet-width) {
    box-shadow: none;
  }
}

.main-nav__link {
  display: inline-block;

  padding-top: 10px;
  padding-bottom: 5px;

  width: 100%;

  color: @white;
  background-color: @basic-blue;

  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.426);

  // outline: 5px solid rgba(0, 8, 255, 0.8);
  // outline-offset: -5px;

  &:hover,
  &:focus {
    background-color: @basic-blue-hover;

    @media (min-width: @tablet-width) {
      background-color: @white;
      color: @basic-blue;
    }
  }

  &:active {
    opacity: 0.3;
    background-color: @basic-blue-down;

    @media (min-width: @tablet-width) {
      color: @black;
      background-color: @white;
      opacity: 0.3;
    }
  }

  @media (min-width: @tablet-width) {
    color: @black;
    background-color: @white;

    padding-top: 16px;
    padding-bottom: 14px;
  }
}

// .main-nav__button-cloze {
//   position: absolute;

//   border: @white;

//   top: 12px;
//   right: 21.8px;

//   background-color: transparent;

//   // outline: 5px solid rgba(0, 8, 255, 0.8);
//   // outline-offset: -5px;

//   &:hover,
//   &:focus {
//     opacity: 0.6;
//   }

//   &:active {
//     opacity: 0.3;
//   }

//   @media (min-width: @tablet-width) {
//     display: none;
//   }
// }

//   position: absolute;
//   top: 17px;
//   right: 20.1px;
//   z-index: 2;
//   display: block;
//   width: 22.9px;
//   height: 22px;
//   background-color: @white;
//   cursor: pointer;
//   border: none;

//   &:hover,
//   &:active {
//     // background-color: #624530;
//   }
// }


@media (max-width: @mobile-width-only) {
  .main-nav__toggle {
    position: absolute;
    top: 0;
    // top: 225px;
    right: 0;
    z-index: 2;
    display: block;
    width: 60px;
    height: 55px;
    background-color: @white;
    cursor: pointer;
    border: none;

    outline: 2px solid rgba(30, 255, 0, 0.8);
    outline-offset: -1px;
  }

  .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 16px;
    width: 25px;
    height: 4px;
    background-color: @basic-blue;
    box-shadow: 0 9px 0 0 @basic-blue, 0 18px 0 0 @basic-blue;
  }

  .main-nav__toggle:hover::before {
    background-color: fade(@basic-blue, 30%);
    box-shadow:
      0 9px 0 0 fade(@basic-blue, 30%),
      0 18px 0 0 fade(@basic-blue, 30%);
  }


  .main-nav__toggle:active::before {
    background-color: fade(@basic-blue, 60%);
    box-shadow:
      0 9px 0 0 fade(@basic-blue, 60%),
      0 18px 0 0 fade(@basic-blue, 60%);
  }

  .main-nav--closed .main-nav__item {
    display: none;

    // &--active {
    //   display: block;
    // }
  }

  .main-nav--closed.main-nav {
    margin-top: -223px;
  }

  .main-nav--closed .main-nav__toggle-cloze {
    display: none;
  }

  .main-nav--opened .main-nav__toggle {
    top: 224px;
  }


  // .main-nav--closed .main-nav__item--active a {
  //   padding-right: 70px;
  //   padding-left: 70px;
  //   text-align: center;
  // }

  // .main-nav--closed .main-nav__item {
  //   display: none;
  //   height: 0;
  // }

  .main-nav--opened .main-nav__toggle-cloze {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 60px;
    height: 55px;
    background-color: @basic-blue;
    cursor: pointer;
    border: none;

    outline: 2px solid rgba(13, 0, 255, 0.8);
    outline-offset: -1px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 26px;
      right: 16px;
      width: 29px;
      height: 4px;
      background-color: @white;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    // &:hover::before,
    // &:hover::after {
    //   background-color: fade(@white, 30%);
    // }

    // &:active::before,
    // &:active::after {
    //   background-color: fade(@basic-blue, 60%);
    // }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle-cloze {
    display: none;
  }

  .main-nav--nojs.main-nav {
    margin-top: 0;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }
}


//   position: absolute;
//   top: 17px;
//   right: 20.1px;
//   z-index: 2;
//   display: block;
//   width: 22.9px;
//   height: 22px;
//   background-color: @white;
//   cursor: pointer;
//   border: none;

//   &:hover,
//   &:active {
//     // background-color: #624530;
//   }
// }

//  .main-nav__toggle::before {
//   content: "";
//   position: absolute;
//   top: 15px;
//   left: 16px;
//   width: 25px;
//   height: 4px;
//   background-color: @basic-blue;
//   box-shadow: 0 9px 0 0 @basic-blue, 0 18px 0 0 @basic-blue;
// }

// .main-nav__toggle-cloze {
//   width: 60px;
//   height: 55px;
//   top: 0;
//   right: 0;
//   left: auto;

//   &::before,
//   &::after {
//     content: "";
//     position: absolute;
//     top: 26px;
//     right: 16px;
//     width: 29px;
//     height: 4px;
//     background-color: #e00e0e;
//   }

//   &::before {
//     transform: rotate(45deg);
//     box-shadow: none;
//   }

//   &::after {
//     transform: rotate(-45deg);
//   }

//   &:active::before,
//   &:active::after {
//     background-color: fade(#0c22cc, 30%);
//   }
// }
