.main-footer {
  padding-top: 40px;


  .social__list {
    margin-top: 35px;
  }

  // .social__icon {
  //   margin-left: -2px;
  // }

  @media (min-width: @tablet-width) {
    padding-top: 10px;

    .social__list {
      margin-top: 17px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    margin-top: 8px;

    .social__list {
      margin-top: 30px;
    }
  }
}

.main-footer-form {
  padding-top: 87px;


  .social__list {
    margin-top: 35px;
  }

  // .social__icon {
  //   margin-left: -2px;
  // }

  .social__link--twitter {
    margin-left: -4px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 68px;

    .social__list {
      margin-top: 25px;
    }

    .copyright__text {
      margin-top: 5px;
    }

    // .social__icon {
    //   margin-left: 0;
    // }
  }

  @media (min-width: @desktop-width) {
    padding-top: 75px;
  }
}

.main-footer-catalog {
  padding-top: 13px;

  .social__list {
    margin-top: 35px;
  }

  .social__link--youtube {
    .social__icon {
      margin-right: 5px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 0;
    margin-top: 52px;

    .social__list {
      margin-top: 25px;
    }

    .copyright__text {
      margin-top: 3px;
      margin-left: 8px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 10px;
    padding-top: 85px;

    .copyright__text {
      margin-top: 5px;
      margin-left: 31px;
    }
  }
}
