.main-nav {
  outline: 5px solid rgba(255, 47, 0, 0.8);
  outline-offset: -5px;

  height: 223px;

  display: block;
}

.main-nav__wrapper {

  display: block;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  // background-color: @basic-blue;

  outline: 5px solid rgba(242, 255, 0, 0.981);
  outline-offset: -5px;

  height: 100%;

  .main-nav__item:nth-child(1) {
    // box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2);
  }

  .main-nav__item:nth-child(2),
  .main-nav__item:nth-child(3) {
    // box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }

  .main-nav__item:nth-child(4) {
    // box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }

  @media (min-width: @tablet-width) {
    width: 768px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.main-nav__item {
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;

  outline: 5px solid rgba(13, 255, 0, 0.8);
  outline-offset: -5px;

  width: 100%;
  height: 55px;
}

.main-nav__link {
  display: inline-block;


  padding-top: 10px;
  padding-bottom: 5px;

  width: 100%;

  color: @white;
  background-color: @basic-blue;

  // box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.426);

  outline: 5px solid rgba(0, 8, 255, 0.8);
  outline-offset: -5px;


  &:hover,
  &:focus {
    background-color: @basic-blue-hover;
  }

  &:active {
    opacity: 0.3;
    background-color: @basic-blue-down;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }

  // .page-header__toggle {
  //   display: none;
  // }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    width: 1200px;
  }

  // .page-header__toggle {
  //   border: none;
  //   width: 22.9px;
  //   height: 22px;
  //   cursor: pointer;
  // }
}

.main-nav__button-cloze {

  position: absolute;

  border: @white;

  top: 12px;
  right: 21.8px;

  background-color: transparent;

  // outline: 5px solid rgba(0, 8, 255, 0.8);
  // outline-offset: -5px;


  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
