.main-footer {
  // padding-top: 48px;
  // padding-bottom: 10px;
  padding-top: 48px;

  .social__list {
    margin-top: 35px;
  }

  .social__list {
    margin-top: 35px;
  }

  @media (min-width: @tablet-width) {
    // padding-top: 10px;
    padding-top: 10px;

    .social__list {
      margin-top: 25px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 4px;

    .social__list {
      margin-top: 30px;
    }
  }
}

.main-footer-form {
  padding-top: 87px;

  .social__list {
    margin-top: 35px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 68px;

    .social__list {
      margin-top: 25px;
    }

    .copyright__text {
      margin-top: 5px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 75px;
  }
}
