.page {
  height: 100%;
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 26px;
}

.page__body {
  align-content: start;
  min-height: 100%;
  min-width: 320px;
  background-color: @white;
  color: @black;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
}


/*
.page__body {
  color: @black;
  background-color: @white;
  min-width: 320px;
}
*/
