.recommendation__list {
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.recommendation__title {
  font-weight: bold;
}

.recommendation__description {
  color: @brown;
  font-size: 14px;
  line-height: 21px;
}
