.search__question {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.search__direction {
  font-size: 14px;
  line-height: 24px;
}

.search__hotel {
  &:hover {
    background-color: @basic-blue-hover;
  }

  &:focus,
  &:active {
    opacity: 0.3;
    background-color: @basic-blue-down;
  }

  &:disabled {
    background-color: @beige;
  }
}
