.social__list {
  list-style: none;
}

.social__link {
  color: @white;
  background-color: @basic-blue;

  &:hover,
  &:focus {
    background-color: @basic-blue-hover;
  }

  &:active {
    opacity: 0.3;
    background-color: @basic-blue-down;
  }
}
