.social__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 48px;
  margin-top: 38px;
  margin-bottom: 38px;

  //   outline: 3px solid rgba(0, 60, 255, 0.981);
  // outline-offset: -3px;

  @media (min-width: @tablet-width) {
    margin: 27px 0 0 0;
  }
}

// .social__link {

.social__icon {
  // color: @white;
  background-color: @basic-blue;

  outline: 3px solid rgba(0, 255, 21, 0.981);
  outline-offset: -3px;

  &:hover,
  &:focus {
    background-color: @basic-blue-hover;
  }

  &:active {
    opacity: 0.3;
    background-color: @basic-blue-down;
  }
}

.social__item {
  margin-left: 3px;
  margin-right: 3px;

  // outline: 3px solid rgba(234, 0, 255, 0.981);
  // outline-offset: -3px;
}
