a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
}
@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
}
.advantages-form {
  border: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.advantages-form__title {
  font-weight: bold;
  text-align: center;
  padding-left: 26px;
  padding-right: 26px;
}
@media (min-width: 768px) {
  .advantages-form__title {
    font-size: 21px;
    width: 308px;
  }
}
.advantages-form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .advantages-form__list {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  .advantages-form__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.advantages-form__field {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.advantages-form__checkbox {
  position: absolute;
  margin-left: -84px;
  margin-top: -14px;
  width: 56px;
  height: 56px;
  background: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='2.5' width='51' height='51' fill='%23F2F2F2' stroke='%23F2F2F2' stroke-width='5' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
  background-size: 100%;
  border-radius: 5px;
}
.advantages-form__checkbox:focus {
  background: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='2.5' width='51' height='51' fill='%23E5E5E5' stroke='%23E5E5E5' stroke-width='5' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
  background-size: 100%;
}
.advantages-form__checkbox:active {
  background: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='2.5' width='51' height='51' fill='%23D5D5D5' stroke='%23D5D5D5' stroke-width='5' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
  background-size: 100%;
}
.advantages-form__field:checked + .advantages-form__checkbox::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 17px;
  width: 24px;
  height: 17px;
  background: url("data:image/svg+xml,%3Csvg width='24' height='17' viewBox='0 0 24 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.925 1.325L21.825 0.225C21.525 -0.075 20.925 -0.075 20.625 0.225L8.725 12.125L2.525 5.925C2.225 5.625 1.625 5.625 1.325 5.925L0.225 7.025C-0.075 7.325 -0.075 7.925 0.225 8.225L8.025 16.025C8.225 16.225 8.425 16.225 8.625 16.225C8.825 16.225 9.025 16.125 9.225 16.025L22.725 2.525C23.225 2.225 23.225 1.725 22.925 1.325Z' fill='%23333333'/%3E%3C/svg%3E%0A") center no-repeat;
  background-size: 100%;
}
.advantages-form__field:checked + .advantages-form__checkbox::after:active {
  opacity: 0.3;
}
.social__item {
  margin-left: 3px;
  margin-right: 3px;
}
.advantages-form__description {
  font-weight: bold;
  text-transform: none;
  padding-left: 25px;
}
.advantages-form__item {
  text-align: left;
  padding-left: 75px;
  padding-top: 38px;
}
@media (min-width: 768px) {
  .advantages-form__item {
    padding-top: 60px;
  }
}
@media (min-width: 1280px) {
  .advantages-form__item {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .advantages-form__item:nth-child(1) {
    padding-left: 170px;
  }
}
@media (min-width: 1280px) {
  .advantages-form__item:nth-child(1) {
    text-align: left;
    padding-left: 95px;
    width: 300px;
  }
}
.advantages-form__item:nth-child(2) {
  padding-top: 52px;
}
@media (min-width: 768px) {
  .advantages-form__item:nth-child(2) {
    padding-top: 61px;
    padding-left: 86px;
  }
}
@media (min-width: 1280px) {
  .advantages-form__item:nth-child(2) {
    padding-left: 0;
    margin-left: -58px;
  }
}
.advantages-form__item:nth-child(3) {
  padding-top: 55px;
}
@media (min-width: 768px) {
  .advantages-form__item:nth-child(3) {
    padding-top: 64px;
    padding-left: 150px;
  }
}
@media (min-width: 1280px) {
  .advantages-form__item:nth-child(3) {
    padding-top: 60px;
    padding-left: 0;
    margin-left: -92px;
  }
}
.advantages-form__item:nth-child(4) {
  padding-top: 55px;
}
@media (min-width: 768px) {
  .advantages-form__item:nth-child(4) {
    padding-top: 64px;
    padding-left: 86px;
  }
}
@media (min-width: 1280px) {
  .advantages-form__item:nth-child(4) {
    padding-top: 60px;
    padding-left: 0;
    margin-left: -123px;
  }
}
@media (min-width: 768px) {
  .advantages-form__item:nth-child(1),
  .advantages-form__item:nth-child(3) {
    text-align: center;
  }
}
.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.advantages__wrapper-1 {
  position: relative;
}
@media (min-width: 768px) {
  .advantages__wrapper-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
.advantages__wrapper-1 .advantages__text {
  color: #FFFFFF;
  padding: 72px 0 28px 0;
  background-color: #81B3D2;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages__wrapper-1 .advantages__text {
    padding-bottom: 0;
    padding-top: 0;
  }
}
.advantages__wrapper-1 .advantages__text .advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages__wrapper-1 .advantages__text .advantages__title {
    font-size: 21px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
  }
}
@media (min-width: 1280px) {
  .advantages__wrapper-1 .advantages__text .advantages__title {
    padding-left: 130px;
    padding-right: 130px;
    margin-top: 50px;
  }
}
.advantages__wrapper-1 .advantages__text .advantages__number,
.advantages__wrapper-1 .advantages__text .advantages__description {
  font-size: 14px;
  line-height: 21px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .advantages__wrapper-1 .advantages__text .advantages__number,
  .advantages__wrapper-1 .advantages__text .advantages__description {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .advantages__wrapper-1 .advantages__text .advantages__number,
  .advantages__wrapper-1 .advantages__text .advantages__description {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 768px) {
  .advantages__wrapper-1 .advantages__text .advantages__number {
    margin-top: 11px;
    margin-bottom: 25px;
  }
}
.advantages__wrapper-1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 37px;
  background: url("../../img/white-triangle-mobile.svg") center no-repeat;
  background-size: 100% 37px;
}
@media (min-width: 768px) {
  .advantages__wrapper-1::after {
    display: none;
  }
}
.image-advantages-city {
  display: block;
  height: 260px;
  width: 100%;
}
.advantages__wrapper-2 {
  height: auto;
}
@media (min-width: 768px) {
  .advantages__wrapper-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 0;
  }
}
.advantages__wrapper-2 .advantages__text {
  color: #FFFFFF;
  padding-top: 40px;
  padding-bottom: 36px;
  background-color: #81B3D2;
}
@media (min-width: 768px) {
  .advantages__wrapper-2 .advantages__text {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
    padding-top: 40px;
    padding-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .advantages__wrapper-2 .advantages__text {
    padding-top: 45px;
  }
}
.advantages__wrapper-2 .advantages__text .advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages__wrapper-2 .advantages__text .advantages__title {
    padding-top: 3px;
    padding-left: 53px;
    padding-right: 53px;
    font-size: 21px;
  }
}
@media (min-width: 1280px) {
  .advantages__wrapper-2 .advantages__text .advantages__title {
    padding-left: 125px;
    padding-right: 125px;
  }
}
.advantages__wrapper-2 .advantages__text .advantages__number {
  padding-top: 13px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .advantages__wrapper-2 .advantages__text .advantages__number {
    padding-top: 14px;
    padding-bottom: 24px;
  }
}
.advantages__wrapper-2 .advantages__text .advantages__number,
.advantages__wrapper-2 .advantages__text .advantages__description {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .advantages__wrapper-2 .advantages__text .advantages__number,
  .advantages__wrapper-2 .advantages__text .advantages__description {
    padding-left: 33px;
    padding-right: 33px;
  }
}
@media (min-width: 1280px) {
  .advantages__wrapper-2 .advantages__text .advantages__number,
  .advantages__wrapper-2 .advantages__text .advantages__description {
    padding-left: 90px;
    padding-right: 90px;
  }
}
.image-advantages-bridge {
  display: block;
  height: 260px;
  width: 100%;
}
.advantages__item:nth-child(3),
.advantages__item:nth-child(4),
.advantages__item:nth-child(5) {
  padding-top: 25px;
  padding-bottom: 24px;
  background-color: #EEEEEE;
}
.advantages__item:nth-child(3) .advantages__title,
.advantages__item:nth-child(4) .advantages__title,
.advantages__item:nth-child(5) .advantages__title {
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages__item:nth-child(3) .advantages__title,
  .advantages__item:nth-child(4) .advantages__title,
  .advantages__item:nth-child(5) .advantages__title {
    font-size: 21px;
    line-height: 26px;
  }
}
.advantages__item:nth-child(3) .advantages__number,
.advantages__item:nth-child(4) .advantages__number,
.advantages__item:nth-child(5) .advantages__number,
.advantages__item:nth-child(3) .advantages__description,
.advantages__item:nth-child(4) .advantages__description,
.advantages__item:nth-child(5) .advantages__description {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}
.advantages__item:nth-child(3) .advantages__description,
.advantages__item:nth-child(4) .advantages__description,
.advantages__item:nth-child(5) .advantages__description {
  padding-top: 17.5px;
}
.advantages__item:nth-child(3) .advantages__number,
.advantages__item:nth-child(4) .advantages__number,
.advantages__item:nth-child(5) .advantages__number {
  padding-top: 12px;
}
@media (min-width: 768px) {
  .advantages__item:nth-child(3) {
    padding-top: 40px;
    padding-bottom: 62px;
  }
}
@media (min-width: 768px) {
  .advantages__item:nth-child(3) .advantages__description {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
  }
  .advantages__item:nth-child(3) .advantages__description br {
    display: none;
  }
}
@media (min-width: 1280px) {
  .advantages__item:nth-child(3) .advantages__description {
    padding-left: 60px;
    padding-right: 60px;
  }
}
.advantages__item:nth-child(4) {
  padding-top: 24px;
}
@media (min-width: 768px) {
  .advantages__item:nth-child(4) {
    padding-top: 40px;
  }
}
@media (min-width: 768px) {
  .advantages__item:nth-child(4) .advantages__description {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 25px;
  }
  .advantages__item:nth-child(4) .advantages__description br {
    display: none;
  }
}
@media (min-width: 1280px) {
  .advantages__item:nth-child(4) .advantages__description {
    padding-left: 65px;
    padding-right: 65px;
  }
}
.advantages__item:nth-child(5) {
  padding-top: 26px;
}
@media (min-width: 768px) {
  .advantages__item:nth-child(5) {
    padding-top: 40px;
  }
}
@media (min-width: 768px) {
  .advantages__item:nth-child(5) .advantages__description {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
  }
  .advantages__item:nth-child(5) .advantages__description br {
    display: none;
  }
}
@media (min-width: 1280px) {
  .advantages__item:nth-child(5) .advantages__title {
    padding-left: 150px;
    padding-right: 150px;
  }
}
.advantages__text {
  background-color: #81B3D2;
  text-align: center;
}
@media (min-width: 768px) {
  .advantages__item--small {
    width: 33.33%;
    padding-top: 41px;
  }
}
@media (min-width: 1280px) {
  .advantages__item--small {
    padding-top: 42px;
  }
}
@media (min-width: 768px) {
  .advantages__item--small .advantages__title {
    margin: 0;
    padding-right: 65px;
    padding-left: 65px;
  }
}
@media (min-width: 1280px) {
  .advantages__item--small .advantages__title {
    padding-left: 130px;
    padding-right: 130px;
  }
}
.button {
  border: none;
  height: 58px;
  color: #FFFFFF;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81B3D2;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding: 14.5px 47px 17.5px 47px;
}
.button:hover {
  background-color: #669EC0;
  text-decoration: none;
}
.button:focus,
.button:active {
  opacity: 0.3;
  background-color: #5496BD;
  text-decoration: none;
}
.button:disabled {
  background-color: #E5E5E5;
  text-decoration: none;
}
@media (min-width: 768px) {
  .button {
    padding: 14.5px 135px 17.5px 135px;
  }
}
.contacts-review {
  border: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .contacts-review {
    margin-top: 25px;
  }
}
@media (min-width: 1280px) {
  .contacts-review {
    margin-bottom: 27px;
  }
}
.contacts-review__title {
  font-weight: bold;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .contacts-review__title {
    font-size: 21px;
    margin-bottom: 23px;
  }
}
.contacts-review__list {
  list-style: none;
  padding: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .contacts-review__list {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1280px) {
  .contacts-review__list {
    display: flex;
    flex-direction: row;
    padding-left: 120px;
    padding-right: 158px;
    margin-bottom: 21.5px;
  }
}
.contacts-review__description {
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  padding-left: 22px;
}
@media (min-width: 1280px) {
  .contacts-review__description {
    margin: 0;
    margin-top: -3px;
  }
}
.contacts-review__field {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  background-color: #F2F2F2;
  border: none;
  padding: 21px 0 17px 22px;
  margin-top: 9px;
  margin-left: -22px;
  width: 100%;
}
.contacts-review__field::-moz-placeholder {
  color: #000000;
}
.contacts-review__field::placeholder {
  color: #000000;
}
@media (min-width: 768px) {
  .contacts-review__field {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .contacts-review__field {
    margin: 0;
  }
}
.contacts-review__item {
  margin-left: 20px;
  margin-right: 78px;
}
@media (min-width: 768px) {
  .contacts-review__item {
    text-align: left;
    margin: 0;
    margin-right: 58px;
  }
}
@media (min-width: 1280px) {
  .contacts-review__item {
    width: 50%;
    position: relative;
  }
}
.contacts-review__item:nth-child(1) {
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .contacts-review__item:nth-child(1) {
    margin-bottom: 25px;
  }
}
@media (min-width: 1280px) {
  .contacts-review__item:nth-child(1) {
    margin-bottom: 0;
    margin-top: 54px;
    padding: 0;
    margin-right: 115px;
  }
  .contacts-review__item:nth-child(1) .contacts-review__description {
    display: grid;
    grid-template-columns: 80px 1fr;
    margin-left: -7px;
    margin-right: 55px;
    padding: 0;
    padding-top: 16px;
    padding-left: 2px;
  }
  .contacts-review__item:nth-child(1) .contacts-review__description--hidden {
    display: none;
  }
  .contacts-review__item:nth-child(1) .contacts-review__field {
    margin-left: 10px;
    margin-top: -15px;
  }
  .contacts-review__item:nth-child(1) .contacts-review__icon {
    margin-right: -95px;
    margin-top: -16px;
  }
}
.contacts-review__item:nth-child(2) {
  margin-bottom: 49px;
}
@media (min-width: 768px) {
  .contacts-review__item:nth-child(2) .contacts-review__field {
    margin-top: 8px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1280px) {
  .contacts-review__item:nth-child(2) {
    margin-bottom: 0;
    margin-top: 54px;
    margin-left: 20px;
  }
  .contacts-review__item:nth-child(2) .contacts-review__description {
    padding: 0;
    display: grid;
    grid-template-columns: 147px 1fr;
    margin-left: -20px;
    padding-top: 15px;
  }
  .contacts-review__item:nth-child(2) .contacts-review__field {
    margin-top: -15px;
    margin-left: 18px;
    padding-top: 20px;
  }
  .contacts-review__item:nth-child(2) .contacts-review__icon {
    margin-right: -158px;
  }
}
.contacts-review__icon {
  position: absolute;
  background-color: #E6E6E6;
  left: auto;
  right: 20px;
  margin-top: 34px;
}
@media (min-width: 768px) {
  .contacts-review__icon {
    right: 60px;
  }
}
@media (min-width: 1280px) {
  .contacts-review__icon {
    margin-top: -15px;
  }
}
@media (min-width: 768px) {
  .copyright {
    padding: 0;
    margin: 0;
  }
}
.copyright__link {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #000000;
  width: 160px;
}
@media (min-width: 768px) {
  .copyright__link {
    margin-top: 25px;
  }
}
.copyright__text {
  font-size: 14px;
  line-height: 26px;
  margin-top: 7px;
}
@media (min-width: 768px) {
  .copyright__text {
    margin-top: 10px;
    padding: 0;
    margin-left: 5px;
  }
}
@media (min-width: 1280px) {
  .copyright__text {
    margin-left: 29px;
  }
}
.copyright__icon {
  margin-left: 10px;
  background-color: #FFFFFF;
  margin-top: 5px;
  text-align: center;
  fill: #000000;
}
@media (min-width: 768px) {
  .copyright__icon {
    margin-left: 12px;
  }
}
.copyright__icon:hover,
.copyright__icon:focus {
  fill: #81B3D2;
}
.copyright__icon:active {
  opacity: 0.3;
  fill: #000000;
}
.emotion {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 22px;
  margin-left: 19px;
}
@media (min-width: 768px) {
  .emotion {
    margin: 83px 0 0 0;
  }
}
@media (min-width: 1280px) {
  .emotion {
    margin-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
.emotion__description {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .emotion__description {
    margin-bottom: 54.5px;
    font-size: 21px;
    width: 100%;
  }
}
.emotion__field {
  font-weight: bold;
  font-size: 18px;
  background-color: #F2F2F2;
  border: none;
  padding: 0;
  margin-top: 15px;
  padding-bottom: 55px;
  width: 100%;
  align-items: left;
}
.emotion__field::-moz-placeholder {
  color: #000000;
  padding: 15px 10px 0 21px;
  letter-spacing: -1px;
}
.emotion__field::placeholder {
  color: #000000;
  padding: 15px 10px 0 21px;
  letter-spacing: -1px;
}
@media (min-width: 768px) {
  .emotion__field::-moz-placeholder {
    padding-top: 20px;
  }
  .emotion__field::placeholder {
    padding-top: 20px;
  }
}
@media (min-width: 768px) {
  .emotion__field {
    margin: 0;
    width: 100%;
  }
}
.gallery__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1280px) {
  .gallery__list {
    background-color: #FFFFFF;
  }
}
@media (min-width: 768px) {
  .gallery__item {
    margin: 0;
  }
}
.gallery__foto {
  margin-left: 20px;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .gallery__foto {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .gallery__item:nth-child(1) {
    width: 100%;
  }
  .gallery__item:nth-child(1) .gallery__foto {
    margin-left: 60px;
    margin-right: 60px;
  }
  .gallery__item:nth-child(1) .foto__image {
    height: 400px;
  }
  .gallery__item:nth-child(1) .foto__title {
    grid-column-end: 20;
  }
  .gallery__item:nth-child(1) .foto__autor-text {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .gallery__item:nth-child(1) .foto__autor-name {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 20;
    margin-left: -3px;
  }
  .gallery__item:nth-child(1) .foto__like {
    margin-top: 20px;
    grid-column-start: -1;
    grid-column-end: -5;
  }
}
@media (min-width: 1280px) {
  .gallery__item:nth-child(1) .gallery__foto {
    margin: 0;
  }
  .gallery__item:nth-child(1) .foto__image {
    margin-top: 19px;
  }
  .gallery__item:nth-child(1) .foto__title {
    grid-column-end: 25;
  }
  .gallery__item:nth-child(1) .foto__autor-text {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .gallery__item:nth-child(1) .foto__autor-name {
    grid-column-start: 3;
    grid-column-end: 20;
    margin-left: -22px;
  }
  .gallery__item:nth-child(1) .foto__like {
    padding-top: 0;
    grid-column-end: -3;
  }
}
.gallery__item:nth-child(2) {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .gallery__item:nth-child(2) {
    width: 50%;
    margin: 0;
  }
  .gallery__item:nth-child(2) .gallery__foto {
    margin-left: 60px;
  }
  .gallery__item:nth-child(2) .foto__image {
    height: 267px;
  }
  .gallery__item:nth-child(2) .foto__like {
    margin-right: 30px;
  }
}
@media (min-width: 1280px) {
  .gallery__item:nth-child(2) {
    width: 33.33%;
  }
  .gallery__item:nth-child(2) .gallery__foto {
    margin: 0;
  }
}
.gallery__item:nth-child(3) {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .gallery__item:nth-child(3) {
    width: 50%;
    margin: 0;
  }
  .gallery__item:nth-child(3) .gallery__foto {
    margin-right: 60px;
  }
  .gallery__item:nth-child(3) .foto__image {
    height: 267px;
  }
  .gallery__item:nth-child(3) .foto__description {
    background-color: #EAEAEA;
    flex-basis: auto;
  }
  .gallery__item:nth-child(3) .foto__like {
    margin-right: 36px;
  }
}
@media (min-width: 1280px) {
  .gallery__item:nth-child(3) {
    width: 33.33%;
  }
  .gallery__item:nth-child(3) .gallery__foto {
    margin: 0;
  }
  .gallery__item:nth-child(3) .foto__description {
    background: rgba(0, 0, 0, 0.3);
  }
}
.gallery__item:nth-child(4) {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .gallery__item:nth-child(4) {
    width: 50%;
    margin: 0;
  }
  .gallery__item:nth-child(4) .gallery__foto {
    margin-left: 60px;
  }
  .gallery__item:nth-child(4) .foto__image {
    height: 267px;
  }
  .gallery__item:nth-child(4) .foto__like {
    margin-right: 29px;
  }
}
@media (min-width: 1280px) {
  .gallery__item:nth-child(4) {
    width: 33.33%;
  }
  .gallery__item:nth-child(4) .gallery__foto {
    margin: 0;
  }
}
.foto__image {
  width: 100%;
  display: block;
}
.foto__description {
  margin-top: 11px;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  height: 100%;
}
@media (min-width: 768px) {
  .foto__description {
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: minmax(21px, auto);
    margin-top: 0;
    padding-left: 20px;
    padding-bottom: 16px;
  }
}
@media (min-width: 1280px) {
  .foto__description {
    background: rgba(0, 0, 0, 0.3);
    margin-top: -82px;
    color: #FFFFFF;
    grid-template-columns: repeat(24, 1fr);
  }
}
.foto__title {
  font-weight: bold;
}
@media (min-width: 768px) {
  .foto__title {
    padding-top: 16px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 16;
  }
}
@media (min-width: 1280px) {
  .foto__title {
    width: 209px;
  }
}
.foto__autor-text,
.foto__autor-name {
  text-transform: none;
  color: #333333;
}
@media (min-width: 1280px) {
  .foto__autor-text,
  .foto__autor-name {
    color: #FFFFFF;
  }
}
@media (min-width: 768px) {
  .foto__autor-text {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 7;
  }
}
@media (min-width: 1280px) {
  .foto__autor-text {
    grid-column-start: 1;
    grid-column-end: 6;
  }
}
@media (min-width: 768px) {
  .foto__autor-name {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 7;
    grid-column-end: 18;
  }
}
@media (min-width: 1280px) {
  .foto__autor-name {
    grid-column-start: 6;
    grid-column-end: 18;
    margin-left: -2px;
  }
}
.foto__like {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-top: 12px;
  margin-left: 37px;
}
@media (min-width: 768px) {
  .foto__like {
    margin: 0;
    margin-top: 17px;
    margin-right: 20px;
    text-align: right;
    align-self: center;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: -1;
    grid-column-end: -8;
  }
}
.foto__icon {
  position: absolute;
  margin-left: -35px;
  fill: #000000;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .foto__icon {
    margin-left: -32px;
  }
}
@media (min-width: 1280px) {
  .foto__icon {
    fill: #FFFFFF;
    opacity: 1;
  }
}
.full-name {
  border: none;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .full-name {
    margin-top: 24px;
    padding-top: 35px;
    padding-left: 57px;
    padding-right: 60px;
  }
}
@media (min-width: 1280px) {
  .full-name {
    padding-left: 79px;
    padding-right: 120px;
    margin-top: 0;
  }
}
.full-name__title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 19px;
}
@media (min-width: 768px) {
  .full-name__title {
    font-size: 21px;
    text-align: left;
  }
}
.full-name__list {
  list-style: none;
  text-align: center;
  padding: 0;
}
.full-name__item {
  display: flex;
}
.full-name__item .full-name__description {
  text-align: left;
}
.full-name__item .full-name__field {
  width: 100%;
}
.full-name__item:nth-child(1) {
  margin-bottom: 20px;
}
.full-name__item:nth-child(1) .full-name__description {
  width: 64px;
}
.full-name__item:nth-child(1) .full-name__field {
  margin-left: 0;
}
@media (min-width: 768px) {
  .full-name__item:nth-child(1) .full-name__field {
    padding-top: 22px;
    padding-left: 26px;
  }
}
@media (min-width: 1280px) {
  .full-name__item:nth-child(1) .full-name__field {
    padding-top: 24px;
    padding-left: 22px;
  }
}
.full-name__item:nth-child(2) {
  margin-bottom: 20px;
}
.full-name__item:nth-child(2) .full-name__description {
  width: 88px;
}
.full-name__item:nth-child(3) {
  margin-bottom: 46px;
}
.full-name__item:nth-child(3) .full-name__description {
  width: 86px;
}
.full-name__description {
  color: #333333;
  font-size: 14px;
  text-transform: uppercase;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 13px;
}
.full-name__field {
  font-size: 16px;
  font-weight: bold;
  background-color: #F2F2F2;
  border: none;
  margin-left: 12px;
  padding: 19px 0 14px 23px;
}
@media (min-width: 768px) {
  .full-name__field {
    margin-left: 15px;
  }
}
.full-name__field::-moz-placeholder {
  color: #000000;
}
.full-name__field::placeholder {
  color: #000000;
}
.full-name__field:hover,
.full-name__field:focus {
  background-color: #E5E5E5;
}
.full-name__field:active {
  background-color: #FFFFFF;
  border: 4px solid #E5E5E5;
}
.getting-intro {
  position: relative;
}
@media (min-width: 768px) {
  .getting-intro {
    margin-bottom: 0;
  }
}
.getting-intro__wrapper-image {
  position: relative;
  background: url("../../img/back-mobile.jpg") center no-repeat;
  background-size: 100%;
  z-index: -1;
  height: 389px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .getting-intro__wrapper-image {
    background-image: url("../../img/back-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .getting-intro__wrapper-image {
    height: 518px;
    background: url("../../img/back-tablet.jpg") center no-repeat;
    background-size: 100%;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .getting-intro__wrapper-image {
    background-image: url("../../img/back-tablet@2x.jpg");
  }
}
@media (min-width: 1280px) {
  .getting-intro__wrapper-image {
    background: url("../../img/back-desktop.jpg") center no-repeat;
    background-size: 100%;
  }
}
@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 2dppx) {
  .getting-intro__wrapper-image {
    background-image: url("../../img/back-desktop@2x.jpg");
  }
}
.getting-intro__wrapper-image::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 57px;
  background: url("../../img/intro-triangle-mobile.svg") center no-repeat;
  background-size: 100% 57px;
}
@media (min-width: 768px) {
  .getting-intro__wrapper-image::after {
    background: url("../../img/intro-triangle-tablet.svg") center no-repeat;
    background-size: 100%;
  }
}
@media (min-width: 1280px) {
  .getting-intro__wrapper-image::after {
    background: url("../../img/intro-triangle-desktop.svg") center no-repeat;
    background-size: 100%;
  }
}
.getting-intro__image {
  width: auto;
  height: 214px;
  top: 90px;
  position: relative;
}
@media (min-width: 768px) {
  .getting-intro__image {
    top: 77px;
    width: 461px;
    height: 349.97px;
    bottom: 91.03px;
  }
}
.getting-intro__text {
  padding: 34px 18px 10px 17px;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .getting-intro__text {
    padding: 43.5px 124px 52.5px 124px;
  }
}
@media (min-width: 1280px) {
  .getting-intro__text {
    padding-top: 52px;
    padding-bottom: 40px;
  }
}
.getting-intro__slogan {
  font-weight: bold;
  font-size: 18px;
  padding-right: 15px;
  padding-left: 14px;
  margin-top: 0;
}
@media (min-width: 768px) {
  .getting-intro__slogan {
    font-size: 21px;
  }
}
@media (min-width: 1280px) {
  .getting-intro__slogan {
    padding-right: 250px;
    padding-left: 250px;
  }
}
.getting-intro__intro {
  color: #333333;
  font-size: 14px;
  margin: 0;
  padding-top: 15px;
}
@media (min-width: 768px) {
  .getting-intro__intro {
    padding-top: 13px;
  }
}
.getting-intro-image__wrapper {
  position: relative;
  background: url("../../img/back-mobile-form.jpg") no-repeat;
  background-position: 50% -53px;
  background-size: 100%;
  z-index: -1;
  height: 158px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .getting-intro-image__wrapper {
    background-image: url("../../img/back-mobile-form@2x.jpg");
  }
}
@media (min-width: 768px) {
  .getting-intro-image__wrapper {
    height: 290px;
    background: url("../../img/back-tablet-form.jpg") no-repeat;
    background-position: 50% -55px;
    background-size: 100%;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .getting-intro-image__wrapper {
    background-image: url("../../img/back-tablet-form@2x.jpg");
  }
}
@media (min-width: 1280px) {
  .getting-intro-image__wrapper {
    height: 301px;
    background: url("../../img/back-desktop-form.jpg") no-repeat;
    background-position: 50% -55px;
    background-size: 100%;
  }
}
@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 2dppx) {
  .getting-intro-image__wrapper {
    background-image: url("../../img/back-desktop-form@2x.jpg");
  }
}
.getting-intro-image__wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 57px;
  background: url("../../img/intro-triangle-mobile.svg") center no-repeat;
  background-size: 100% 57px;
}
@media (min-width: 768px) {
  .getting-intro-image__wrapper::after {
    background: url("../../img/intro-triangle-desktop.svg") center no-repeat;
  }
}
.getting-intro-image__text {
  top: 52px;
  position: relative;
}
@media (min-width: 768px) {
  .getting-intro-image__text {
    top: 95px;
    width: 456.9px;
    height: 77.6px;
  }
}
@media (min-width: 1280px) {
  .getting-intro-image__text {
    top: 100px;
    width: 459.5px;
    height: 79.8px;
  }
}
.getting-intro-form {
  position: relative;
}
.getting-intro-form__text {
  padding: 39px 0 37px 0;
}
@media (min-width: 768px) {
  .getting-intro-form__text {
    padding: 65px 167px 61.5px 166px;
  }
}
@media (min-width: 1280px) {
  .getting-intro-form__text {
    padding: 114px 380px 56.5px 380px;
    background-color: #FFFFFF;
  }
}
.getting-intro-form__title {
  font-weight: bold;
  font-size: 18px;
  padding-right: 15px;
  padding-left: 14px;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .getting-intro-form__title {
    font-size: 30px;
  }
}
.getting-intro-form__intro {
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
  padding: 29px 10px 0 10px;
}
@media (min-width: 768px) {
  .getting-intro-form__intro {
    padding: 30px 0 0 0;
  }
}
@media (min-width: 1280px) {
  .getting-intro-form__intro {
    padding-top: 32px;
  }
}
.getting-intro-catalog {
  position: relative;
}
.getting-intro-catalog__wrapper-text {
  padding: 35px 15px 35px 18px;
}
@media (min-width: 768px) {
  .getting-intro-catalog__wrapper-text {
    padding: 62px 155px 76px 155px;
  }
}
@media (min-width: 1280px) {
  .getting-intro-catalog__wrapper-text {
    padding: 100px 372px 61px 370px;
    background-color: #FFFFFF;
  }
}
.getting-intro-catalog__title {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .getting-intro-catalog__title {
    font-size: 30px;
  }
}
@media (min-width: 1280px) {
}
.getting-intro-catalog__intro {
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-top: 30px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .getting-intro-catalog__intro {
    margin-top: 35px;
  }
}
@media (min-width: 1280px) {
  .getting-intro-catalog__intro {
    margin-top: 35px;
  }
}
.getting-intro-catalog__break {
  display: none;
}
@media (min-width: 768px) {
  .getting-intro-catalog__break {
    display: block;
  }
}
.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: -12px 0 0 0;
}
@media (min-width: 768px) {
  .hashtag {
    margin-top: 24px;
  }
}
@media (min-width: 1280px) {
  .hashtag {
    margin-right: 23px;
    margin-top: 31px;
  }
}
.impression {
  border: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .impression {
    margin: 0;
  }
}
.impression__title {
  margin-bottom: 37px;
  font-weight: bold;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .impression__title {
    margin: 0;
    padding-top: 23px;
    padding-left: 10px;
    font-size: 21px;
  }
}
@media (min-width: 1280px) {
  .impression__title {
    padding-top: 0;
    padding-left: 74px;
  }
}
.impression__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 52px;
}
@media (min-width: 768px) {
  .impression__list {
    padding-left: 64px;
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .impression__list {
    padding-left: 176px;
  }
}
.impression__field {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  outline: 3px solid rgba(255, 60, 0, 0.981);
  outline-offset: -3px;
}
.impression__radio {
  position: absolute;
  margin-left: -78px;
  margin-top: -14px;
  width: 56px;
  height: 56px;
  background: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M53.2463 27.9844C53.2463 14.0396 41.9412 2.73254 27.995 2.73254C14.0488 2.73254 2.7432 14.0396 2.7432 27.9844C2.7432 41.9315 14.049 53.2363 27.995 53.2363C41.941 53.2363 53.2463 41.9315 53.2463 27.9844Z' fill='%23F2F2F2' stroke='%23F2F2F2' stroke-width='5'/%3E%3C/svg%3E%0A") center no-repeat;
  background-size: 100%;
}
.impression__radio:focus {
  background: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M53.2463 27.9844C53.2463 14.0396 41.9412 2.73254 27.995 2.73254C14.0488 2.73254 2.7432 14.0396 2.7432 27.9844C2.7432 41.9315 14.049 53.2363 27.995 53.2363C41.941 53.2363 53.2463 41.9315 53.2463 27.9844Z' fill='%23E5E5E5' stroke='%23E5E5E5' stroke-width='5'/%3E%3C/svg%3E%0A") center no-repeat;
  background-size: 100%;
}
.impression__radio:active {
  background: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M53.2463 27.9844C53.2463 14.0396 41.9412 2.73254 27.995 2.73254C14.0488 2.73254 2.7432 14.0396 2.7432 27.9844C2.7432 41.9315 14.049 53.2363 27.995 53.2363C41.941 53.2363 53.2463 41.9315 53.2463 27.9844Z' fill='%23D5D5D5' stroke='%23D5D5D5' stroke-width='5'/%3E%3C/svg%3E%0A") center no-repeat;
  background-size: 100%;
}
.impression__field:checked + .impression__radio::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 16px;
  width: 22px;
  height: 22px;
  background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.0209 10.9227C20.0209 5.90217 15.9502 1.82898 10.9284 1.82898C5.90631 1.82898 1.83565 5.90215 1.83565 10.9227C1.83565 15.9459 5.90653 20.0168 10.9284 20.0168C15.95 20.0168 20.0209 15.9459 20.0209 10.9227Z' fill='%23333333' stroke='%23333333' stroke-width='3'/%3E%3C/svg%3E%0A") center no-repeat;
  background-size: 100%;
}
.impression__field:checked + .impression__radio::after:active {
  opacity: 0.3;
}
.impression__item {
  text-align: left;
  margin-left: 24px;
}
@media (min-width: 768px) {
  .impression__item {
    margin-left: 50px;
  }
}
@media (min-width: 1280px) {
  .impression__item {
    margin: 0;
  }
}
.impression__item:nth-child(1) {
  margin-bottom: 43px;
}
@media (min-width: 768px) {
  .impression__item:nth-child(1) {
    margin-top: 75px;
    margin-bottom: 0;
  }
}
.impression__item:nth-child(2) {
  margin-bottom: 43px;
}
@media (min-width: 768px) {
  .impression__item:nth-child(2) {
    margin-top: 54px;
    margin-bottom: 0;
  }
}
.impression__item:nth-child(3) {
  margin-bottom: 57px;
}
@media (min-width: 768px) {
  .impression__item:nth-child(3) {
    margin-bottom: 0;
    margin-top: 52px;
  }
}
.impression__description {
  font-weight: bold;
  text-transform: none;
  padding-left: 21px;
}
.main-nav {
  display: block;
}
@media (min-width: 768px) {
  .main-nav {
    height: 56px;
  }
}
.main-nav__wrapper {
  display: block;
  position: relative;
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
@media (min-width: 768px) {
  .main-nav__list {
    margin-top: -25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .main-nav__list .main-nav__item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .main-nav__list .main-nav__item:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }
  .main-nav__list .main-nav__item:nth-child(3) {
    grid-column: 4;
    grid-row: 1;
  }
  .main-nav__list .main-nav__item:nth-child(4) {
    grid-column: 5;
    grid-row: 1;
  }
}
.main-nav__item {
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  width: 100%;
  height: 55px;
}
@media (min-width: 768px) {
  .main-nav__item {
    font-size: 14px;
    line-height: 26px;
    height: 56px;
  }
}
.main-nav__item:nth-child(2) .main-nav__link,
.main-nav__item:nth-child(3) .main-nav__link {
  box-shadow: 0 -1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .main-nav__item:nth-child(2) .main-nav__link,
  .main-nav__item:nth-child(3) .main-nav__link {
    box-shadow: none;
  }
}
@media (min-width: 768px) {
  .main-nav__item:nth-child(3) {
    padding-left: 3px;
  }
}
.main-nav__item:nth-child(4) .main-nav__link {
  box-shadow: 0 -1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .main-nav__item:nth-child(4) .main-nav__link {
    box-shadow: none;
  }
}
.main-nav__link {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  color: #FFFFFF;
  background-color: #81B3D2;
}
.main-nav__link:hover,
.main-nav__link:focus {
  background-color: #669EC0;
}
@media (min-width: 768px) {
  .main-nav__link:hover,
  .main-nav__link:focus {
    background-color: #FFFFFF;
    color: #81B3D2;
  }
}
.main-nav__link:active {
  opacity: 0.3;
  background-color: #5496BD;
}
@media (min-width: 768px) {
  .main-nav__link:active {
    color: #000000;
    background-color: #FFFFFF;
    opacity: 0.3;
  }
}
@media (min-width: 768px) {
  .main-nav__link {
    color: #000000;
    background-color: #FFFFFF;
    padding-top: 16px;
    padding-bottom: 14px;
  }
}
@media (max-width: 767px) {
  .main-nav__item::after {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 400%);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
  }
}
@media (max-width: 767px) {
  .main-nav__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 60px;
    height: 55px;
    background-color: #FFFFFF;
    cursor: pointer;
    border: none;
  }
  .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 16px;
    width: 25px;
    height: 4px;
    background-color: #81B3D2;
    box-shadow: 0 9px 0 0 #81B3D2, 0 18px 0 0 #81B3D2;
  }
  .main-nav__toggle:hover::before {
    background-color: rgba(129, 179, 210, 0.3);
    box-shadow: 0 9px 0 0 rgba(129, 179, 210, 0.3), 0 18px 0 0 rgba(129, 179, 210, 0.3);
  }
  .main-nav__toggle:active::before {
    background-color: rgba(129, 179, 210, 0.6);
    box-shadow: 0 9px 0 0 rgba(129, 179, 210, 0.6), 0 18px 0 0 rgba(129, 179, 210, 0.6);
  }
  .main-nav--closed .main-nav__item {
    display: none;
  }
  .main-nav--opened .main-nav__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 60px;
    height: 55px;
    background-color: #81B3D2;
    cursor: pointer;
    border: none;
  }
  .main-nav--opened .main-nav__toggle::before,
  .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 26px;
    right: 16px;
    width: 29px;
    height: 4px;
    background-color: #FFFFFF;
  }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none;
  }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg);
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs.main-nav {
    margin-top: 0;
  }
  .main-nav--nojs .main-nav__item {
    display: block;
  }
}
.main-footer {
  padding-top: 35px;
}
.main-footer .social__list {
  margin-top: 35px;
}
@media (min-width: 768px) {
  .main-footer {
    padding-top: 5px;
  }
  .main-footer .social__list {
    margin-top: 17px;
  }
}
@media (min-width: 1280px) {
  .main-footer {
    padding-top: 0;
  }
  .main-footer .social__list {
    margin-top: 18px;
  }
}
.main-footer-form {
  padding-top: 87px;
}
.main-footer-form .social__list {
  margin-top: 35px;
}
@media (min-width: 768px) {
  .main-footer-form {
    padding-top: 68px;
  }
  .main-footer-form .social__list {
    margin-top: 25px;
  }
  .main-footer-form .copyright__text {
    margin-top: 5px;
  }
}
@media (min-width: 1280px) {
  .main-footer-form {
    padding-top: 75px;
  }
}
.main-footer-catalog {
  padding-top: 13px;
}
@media (min-width: 768px) {
  .main-footer-catalog {
    padding-top: 0;
    margin-top: -90px;
  }
}
@media (min-width: 1280px) {
  .main-footer-catalog {
    margin-top: -200px;
    padding-top: 155px;
  }
}
.page {
  height: 100%;
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 26px;
}
@media (min-width: 1280px) {
  .page {
    background-color: #F2F2F2;
  }
}
.page__body {
  align-content: start;
  min-height: 100%;
  min-width: 320px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
}
@media (min-width: 1280px) {
  .page__body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -5px 0 5px -5px rgba(223, 229, 229, 0.9), 5px 0 5px -5px rgba(223, 229, 229, 0.9);
  }
}
/*
.page__body {
  color: @black;
  background-color: @white;
  min-width: 320px;
n}
*/
.page-footer {
  background-color: #FFFFFF;
}
.page-footer__wrapper {
  list-style: none;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .page-footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}
.page-header {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.page-header__logo-image {
  position: relative;
  z-index: 100;
  width: 101.7px;
  height: 84px;
}
@media (min-width: 768px) {
  .page-header__logo-image {
    width: 101.6px;
    height: 84px;
  }
}
@media (min-width: 1280px) {
  .page-header__logo-image {
    width: 186.6px;
    height: 96.43px;
  }
}
.page-header__line {
  height: 56px;
  background-image: url("../../img/layer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  order: 2;
  width: 100%;
  position: relative;
  display: block;
}
@media (min-width: 768px) {
  .page-header__line {
    position: absolute;
  }
  .page-header__line .page-header__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1280px) {
  .page-header__line {
    position: absolute;
    max-width: 1200px;
  }
}
/*
.page-nav__list {
  list-style: none;
}
*/
.recommendations__list {
  list-style: none;
  margin-bottom: 5px;
  background-color: #FFFFFF;
  padding: 0;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .recommendations__list {
    display: flex;
    padding: 0;
    padding-bottom: 48px;
    margin-bottom: 7px;
  }
}
@media (min-width: 1280px) {
  .recommendations__list {
    padding-bottom: 75px;
    margin-bottom: 0;
  }
}
.recommendations__title {
  font-weight: bold;
  text-align: left;
  margin: 0;
}
@media (min-width: 768px) {
  .recommendations__title {
    text-align: center;
    font-size: 21px;
    padding-top: 20px;
  }
}
.recommendations__description {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  margin: 0;
  padding: 17px 0 0 0;
}
@media (min-width: 768px) {
  .recommendations__description {
    text-align: center;
  }
}
.recommendations__item {
  padding: 34px 20px 0 69px;
  position: relative;
  display: grid;
}
@media (min-width: 768px) {
  .recommendations__item {
    width: 33.33%;
    display: block;
  }
}
@media (min-width: 1280px) {
  .recommendations__item {
    margin-top: 10px;
  }
}
.recommendations__icon {
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .recommendations__icon {
    width: 75px;
    height: 72px;
    padding: 0;
    margin: 0;
    margin-top: 45px;
    position: relative;
  }
}
@media (min-width: 768px) {
  .recommendations__item--hotel {
    order: 1;
    padding: 10px 0 0 0;
  }
  .recommendations__item--hotel .recommendations__icon {
    width: 75px;
    height: 72px;
  }
  .recommendations__item--hotel .recommendations__description {
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 21px;
  }
}
@media (min-width: 1280px) {
  .recommendations__item--hotel {
    padding: 5px 0 0 0;
  }
  .recommendations__item--hotel .recommendations__description {
    margin-left: 60px;
    margin-right: 60px;
  }
  .recommendations__item--hotel .recommendations__icon {
    width: 74.7px;
    height: 72.4px;
  }
}
.recommendations__item--souvenir {
  padding-top: 25px;
}
@media (min-width: 768px) {
  .recommendations__item--souvenir {
    order: 3;
    padding: 0;
    padding-top: 8px;
  }
  .recommendations__item--souvenir .recommendations__description {
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 25px;
  }
  .recommendations__item--souvenir .recommendations__icon {
    width: 64px;
    height: 75px;
  }
}
@media (min-width: 1280px) {
  .recommendations__item--souvenir {
    padding-top: 2px;
  }
  .recommendations__item--souvenir .recommendations__icon {
    width: 63px;
    height: 75.02px;
  }
}
.recommendations__item--eat {
  padding-top: 26px;
}
@media (min-width: 768px) {
  .recommendations__item--eat {
    order: 2;
    padding: 0;
    padding-top: 8px;
  }
  .recommendations__item--eat .recommendations__description {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 25px;
  }
  .recommendations__item--eat .recommendations__icon {
    margin-top: 50px;
    width: 76px;
    height: 67.9px;
  }
}
@media (min-width: 1280px) {
  .recommendations__item--eat {
    padding-top: 2px;
  }
  .recommendations__item--eat .recommendations__description {
    margin-left: 50px;
    margin-right: 50px;
  }
  .recommendations__item--eat .recommendations__icon {
    width: 76.2px;
    height: 68.9px;
  }
}
.recommendations__description--break {
  display: none;
}
@media (min-width: 1280px) {
  .recommendations__description--break {
    display: inline;
  }
}
@media (min-width: 1280px) {
  .reviews-form {
    background-color: #FFFFFF;
  }
}
.reviews-form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .reviews-form__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .reviews-form__item:nth-child(1) {
    order: 2;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .reviews-form__item:nth-child(2) {
    order: 3;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .reviews-form__item:nth-child(3) {
    order: 1;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .reviews-form__item:nth-child(4) {
    order: 4;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .reviews-form__item:nth-child(5) {
    order: 5;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 0;
  }
}
.push {
  margin-top: 50px;
  margin-left: 21px;
  margin-right: 19px;
}
@media (min-width: 768px) {
  .push {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media (min-width: 1280px) {
  .push {
    margin-left: 120px;
    margin-right: 120px;
  }
}
.push__button {
  padding-top: 17px;
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: -2.1px;
  padding-left: 43px;
}
@media (min-width: 768px) {
  .push__button {
    padding-left: 27px;
    padding-right: 39px;
    padding-top: 15px;
  }
}
@media (min-width: 1280px) {
  .push__button {
    padding-left: 35px;
    padding-right: 35px;
  }
}
.push__note {
  display: none;
  font-size: 14px;
  text-align: right;
}
@media (min-width: 768px) {
  .push__note {
    display: block;
    margin: 0;
    margin-top: 15px;
  }
}
.search {
  padding-top: 33px;
}
@media (min-width: 768px) {
  .search {
    padding-top: 58px;
  }
}
@media (min-width: 1280px) {
  .search {
    padding-top: 57px;
    background-color: #FFFFFF;
  }
}
.search__preamble {
  padding: 0 27px 41.5px 27px;
}
@media (min-width: 768px) {
  .search__preamble {
    padding: 0 166px 51.5px 167px;
  }
}
.search__question {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
}
@media (min-width: 768px) {
  .search__question {
    font-size: 30px;
  }
}
.search__direction {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding-top: 24px;
}
.search__direction br {
  display: none;
}
@media (min-width: 768px) {
  .search__direction {
    padding-top: 33px;
  }
  .search__direction br {
    display: block;
  }
}
.search__map {
  display: block;
  background-image: url("../../img/map-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 350px;
  margin-top: 66.5px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media (min-width: 768px) {
  .search__map {
    background-image: url("../../img/map-tablet.jpg");
    margin-top: 75px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .search__map {
    background-image: url("../../img/map-tablet@2x.jpg");
  }
}
@media (min-width: 1280px) {
  .search__map {
    background-image: url("../../img/map-desktop.jpg");
    margin-top: 90px;
  }
}
@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 2dppx) {
  .search__map {
    background-image: url("../../img/map-desktop@2x.jpg");
  }
}
.search__map::after {
  content: "";
  position: absolute;
  margin-top: 160px;
  width: 27px;
  height: 27px;
  background: url("data:image/svg+xml,%3Csvg width='27' height='27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5 27a13.5 13.5 0 100-27 13.5 13.5 0 000 27z' fill='%23fff'/%3E%3Cpath d='M13.5 21.9a8.4 8.4 0 100-16.8 8.4 8.4 0 000 16.8z' fill='%2381B3D3'/%3E%3C/svg%3E");
  background-size: 100% 27px;
}
.social__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 48px;
  margin-top: 38px;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .social__list {
    margin: 27px 0 0 0;
  }
}
.social__icon {
  background-color: #81B3D2;
}
.social__icon:hover,
.social__icon:focus {
  background-color: #669EC0;
}
.social__icon:active {
  opacity: 0.3;
  background-color: #5496BD;
}
.social__item {
  margin-left: 3px;
  margin-right: 3px;
}
@media (min-width: 768px) {
  .video {
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media (min-width: 1280px) {
  .video {
    margin-left: 0;
    margin-right: 0;
    padding-left: 199px;
    padding-right: 201px;
    background-color: #FFFFFF;
  }
}
.video-preview {
  padding: 30px 26px 0 28px;
}
@media (min-width: 768px) {
  .video-preview {
    padding: 58px 102px 0 101px;
  }
}
@media (min-width: 1280px) {
  .video-preview {
    padding: 63px 170px 66px 170px;
  }
}
.video-preview__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}
@media (min-width: 768px) {
  .video-preview__title {
    font-size: 30px;
  }
}
.video-preview__intro {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  margin: 0;
  margin-top: 28px;
}
@media (min-width: 768px) {
  .video-preview__intro {
    margin-top: 35px;
  }
}
.video-image__poster {
  width: 100%;
  margin-top: 35px;
}
@media (min-width: 768px) {
  .video-image__poster {
    margin-top: 78px;
  }
}
@media (min-width: 1280px) {
  .video-image__poster {
    margin-top: 10px;
  }
}
.video-control {
  height: 23px;
  margin-bottom: 140px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 22px;
  padding-right: 22px;
  padding-left: 23px;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  margin-top: -50px;
}
@media (min-width: 768px) {
  .video-control {
    height: 49px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 45px;
    padding-right: 166px;
    padding-left: 93px;
    margin-top: -100px;
  }
}
.video-control__scale {
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}
.video-control__handle {
  cursor: pointer;
  position: absolute;
  left: 20%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: none;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .video-control__handle {
    left: 32%;
  }
}
@media (min-width: 1280px) {
  .video-control__handle {
    left: 26%;
  }
}
.video-control__buttons {
  background-color: #F2F2F2;
  height: 66px;
  margin-top: 18px;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding-top: 3px;
}
.video-control__buttons .video-control__button--replay {
  margin-left: 17px;
}
@media (min-width: 768px) {
  .video-control__buttons .video-control__button--replay {
    margin-left: 27px;
  }
}
.video-control__buttons .video-control__button--fullscreen {
  margin-right: 17px;
  margin-left: 12px;
}
@media (min-width: 768px) {
  .video-control__buttons .video-control__button--fullscreen {
    margin-right: 35px;
    margin-left: 18px;
  }
}
.video-control__buttons .video-control__button--subtitles {
  margin-left: auto;
}
@media (min-width: 768px) {
  .video-control__buttons {
    margin-top: -36px;
    background-color: transparent;
  }
}
.video-control__button {
  fill: #5c6870;
  border: #F2F2F2;
  cursor: pointer;
}
@media (min-width: 768px) {
  .video-control__button {
    fill: white;
    background-color: transparent;
  }
}
.video-control__button:hover,
.video-control__button:focus {
  border: 4px solid #333333;
  box-sizing: border-box;
  fill: #333333;
}
@media (min-width: 768px) {
  .video-control__button:hover,
  .video-control__button:focus {
    fill: white;
    opacity: 0.6;
    border: 4px solid #ffffff;
    box-sizing: border-box;
  }
}
.video-control__button:active {
  opacity: 0.3;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
